.App {
  text-align: center;

  .platt-header > div {
    display:block;
    width:100%;
    height:4.2rem;
    position:relative;
  }

  .platt-header {
    background-color:#008800;
    padding:1rem 3rem;

    .platt-header-logo, .platt-header-menu-items, .platt-header-menu-items > ul > li {
      display:inline-block;
    }

    .platt-header-logo img, .platt-header-menu-items img {
      height:2rem;
    }

    .platt-header-menu-items img {
      padding-left:2rem;
    }

    .platt-header-logo {
      left:0;
      bottom:0;
      position:absolute;
      margin:1rem 0;
    }

    .platt-header-menu-items {
      float:right;
    }

    .platt-header-input-container {
      padding-top:1rem;

      .platt-header-input {
        width:100%;
        height:3rem;
        border-radius:.5rem;
        padding-left:1rem;
        font-size:1.5rem;
      }
    }
  }

  .categories-container {
    text-align:center;
    display:block;
    width:100%;

    div {
      width:100%;
      display:table;
    }

    .categories-list {
      display:table-cell;
      text-align:center;
      vertical-align: middle;
      height:2rem;
      font-size:1.5rem;
      padding:1rem 0;
      border:1px solid #000000;
      box-sizing:border-box;

      &.categories-show-all {
        width:100%;
      }

      &.categories-my-catalog,
      &.categories-my-list,
      &.categories-live-help {
        width:33.33%
      }

    }
  }
}
